<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protfolio</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
</head>

<body>
    <div class="frame">
        <div class="main-frame">

            <!-- left frame -->
            <div class="left-frame">
                <div class="left-1">
                    <div class="left-1_1">
                        <img src="images/Image.svg" 
                        width="156px"
                        height="142px"
                        alt="">
                    </div>
                    <div class="left-1_2">
                        <%=user.name%>
                    </div>
                    <div class="left-1_3">
                        <%=user.proffesion%>
                    </div>
                    <div class="left-1_icons">
                        <a class="link-herf" href="">
                            <div class="icon">
                                <img src="btn_icon/Facebook.jpg" class="icon-1">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="icon">
                                <img src="btn_icon/Instagram.jpg" class="icon-1">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="icon">
                                <img src="btn_icon/Twitter.jpg" class="icon-1">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="icon">
                                <img src="btn_icon/Twitter.jpg" class="icon-1">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="icon">
                                <img src="btn_icon/Youtube.jpg" class="icon-1">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="icon">
                                <img src="btn_icon/Dribbble.jpg" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="marginer"></div>

                <div class="left-2">
                    <div class="age">
                        <div class="age-1">Age:</div>
                        <div class="age-2"><%=user.age%></div>
                    </div>

                    <div class="residence">
                        <div class="residence-1">Residence:</div>
                        <div class="residence-2"><%=user.address%></div>
                    </div>

                    <div class="freelance">
                        <div class="freelance-1">Freelance:</div>
                        <div class="freelance-2">Available</div>
                    </div>
                    <div class="address">
                         <div class="address-1">Address</div>
                        <div class="address-2"><%=user.address%></div>
                    </div>
                </div>
                
                <div class="marginer"></div>

                <div class="left-3">
                     <h5 class="lan">Languages</h5>
                        <!-- <% user.languages.map((language, index) => {  %>
                            
                            <div class="language">
                                <div class="lag-name text"><%=language%></div>
                                <div class="lan_per text"><%=(index+6)*10%></div>
                            </div>    
                            <div class="progress" style="height: 4px; width: 100%;">
                                <div class="progress-bar" 
                                role="progressbar" 
                                style="width: 90%; background-color: orange;" 
                                aria-valuenow="25" 
                                aria-valuemin="0" 
                                aria-valuemax="100">
                                </div>
                            </div>

                        <%   }) %> -->

                        <div class="language">
                            <div class="lag-name text"><%=user.languages[0]%></div>
                            <div class="lan_per text">90%</div>
                        </div>

                        <div class="progress" style="height: 4px; width: 100%;">
                            <div class="progress-bar" 
                            role="progressbar" 
                            style="width: 90%; background-color: orange;" 
                            aria-valuenow="25" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            </div>
                        </div>

                        <div class="language">
                            <div class="lag-name text"><%=user.languages[2]%></div>
                            <div class="lan_per text">80%</div>
                        </div>

                        <div class="progress" style="height: 4px; width: 100%;">
                            <div class="progress-bar" 
                            role="progressbar" 
                            style="width: 80%; background-color: orange;" 
                            aria-valuenow="25" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            </div>
                        </div>
                        
                        <div class="language">
                            <div class="lag-name text"><%=user.languages[1]%></div>
                            <div class="lan_per text">60%</div>
                        </div>

                        <div class="progress" style="height: 4px; width: 100%;">
                            <div class="progress-bar" 
                            role="progressbar" 
                            style="width: 60%; background-color: orange;" 
                            aria-valuenow="25" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            </div>
                        </div>
                </div>

                <div class="marginer"></div>

                <div class="left-4">
                     <h5 class="lan">Skills</h5>
                        <div class="skill">
                            <div class="lag-name text">HTML</div>
                            <div class="lan_per text">90%</div>
                        </div>

                        <div class="progress" style="height: 4px; width: 100%;">
                            <div class="progress-bar" 
                            role="progressbar" 
                            style="width: 90%; background-color: orange;" 
                            aria-valuenow="25" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            </div>
                        </div>

                        <div class="skill">
                            <div class="lag-name text">CSS</div>
                            <div class="lan_per text">85%</div>
                        </div>

                        <div class="progress" style="height: 4px; width: 100%;">
                            <div class="progress-bar" 
                            role="progressbar" 
                            style="width: 85%; background-color: orange;" 
                            aria-valuenow="25" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            </div>
                        </div>

                        <div class="skill">
                            <div class="lag-name text">Js</div>
                            <div class="lan_per text">80%</div>
                        </div>

                        <div class="progress" style="height: 4px; width: 100%;">
                            <div class="progress-bar" 
                            role="progressbar" 
                            style="width: 80%; background-color: orange;" 
                            aria-valuenow="25" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            </div>
                        </div>

                        <div class="skill">
                            <div class="lag-name text">PHP</div>
                            <div class="lan_per text">75%</div>
                        </div>

                        <div class="progress" style="height: 4px; width: 100%;">
                            <div class="progress-bar" 
                            role="progressbar" 
                            style="width: 75%; background-color: orange;" 
                            aria-valuenow="25" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            </div>
                        </div>

                        <div class="skill">
                            <div class="lag-name text">WordPress</div>
                            <div class="lan_per text">85%</div>
                        </div>

                        <div class="progress" style="height: 4px; width: 100%;">
                            <div class="progress-bar" 
                            role="progressbar" 
                            style="width: 85%; background-color: orange;" 
                            aria-valuenow="25" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            </div>
                        </div>
                </div>

                <div class="marginer"></div>

                <div class="left-5">
                    <h5 class="ex-skills">Extra Skills</h5>
                    <div class="ex-skill">
                        <img src="icon/icons.png" class="left-5_icon" alt="">
                        <span class="text text-1">Bootstrap, Materialze</span>
                    </div>
                    <div class="ex-skill">
                        <img src="icon/icons.png" class="left-5_icon" alt="">
                        <span class="text text-1">Stylus, Sass, Less</span>
                    </div>
                    <div class="ex-skill">
                        <img src="icon/icons.png" class="left-5_icon" alt="">
                        <span class="text text-1">Gulp, Webpack, Grunt</span>
                    </div>
                    <div class="ex-skill">
                        <img src="icon/icons.png" class="left-5_icon" alt="">
                        <span class="text text-1">GIT Knowledge</span>
                    </div>
                </div>

            </div>
             <!-- left frame -->

            <!-- middle frame -->
            <div class="midd-frame">
                <!-- <div class="absolute_box">
                    <img src="btn_icon/Ellipse 15.png" alt="">
                </div> -->
                <!-- <div class="absolute_box"></div>
                <div class="absolute_box"></div>
                <div class="absolute_box"></div> -->

                <img class="absolute_box" src="btn_icon/Ellipse 15.png" alt="">
                <img class="absolute_box_1" src="btn_icon/Ellipse 12.png" alt="">
                <img class="absolute_box_2" src="btn_icon/Rectangle 51 (1).png" alt="">
                <img class="absolute_box_3" src="btn_icon/Ellipse 12.png" alt=""> 
                <img class="absolute_box_4" src="btn_icon/Rectangle 52.png" alt="">
                <img class="absolute_box_5" src="btn_icon/Polygon 1.png" alt="">
                

                <div class="midd-frame-1">
                    <div class="midd-frame-1_1">

                        <div class="job-info">

                         
                            
                         

                            <h2 class="job-title">
                                Software Engineer in <br/>
                                IT Company
                            </h2>
                            <p class="job-description text">
                                <%=user.about_me%>
                            </p>
                            <div class="button">
                                <button class="button1">
                                   HIRE ME <img src="box_images/Frame.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="midd-frame-1_2">
                        <div class="pic">
                            <img src="images/Your Image 1.png" class="pic1" alt="">
                        </div>
                    </div>
                </div>
                <div class="midd-frame-2">
                    <div class="my-services">
                        <h2 class="serv-name">My Services</h2>
                        <p class="serv-des text"><%=user.service_desc%> 
                         </p>
                    </div>
                    <div class="service-cards">
                        <div class="service-card">
                            <img class="service-card__pic" src="box_images/coding.png" alt="Rasm bo'lishi kerak">
                            <h5 class="service-card__title">
                                Web dasturlash
                            </h5>
                            <p class="service-card__description text">Blog, E-Commerce</p>
                            
                        </div>

                        <div class="service-card">
                            <img class="service-card__pic" src="box_images//illustration.png" alt="Rasm bo'lishi kerak">
                            <h5 class="service-card__title">
                                UI/UX Design
                            </h5>
                            <p class="service-card__description text">Mobile App, Website Design</p>
                            
                        </div>

                        <div class="service-card">
                            <img class="service-card__pic" src="box_images/Microphone.png" alt="Rasm bo'lishi kerak">
                            <h5 class="service-card__title">
                                Sound Design
                            </h5>
                            <p class="service-card__description text">Voice Over, Baet Making</p>
                            
                        </div>

                        <div class="service-card">
                            <img class="service-card__pic" src="box_images/game-development.png" alt="Rasm bo'lishi kerak">
                            <h5 class="service-card__title">
                                Game Design
                            </h5>
                            <p class="service-card__description text">Character Design, Prop & Objects</p>
                            
                        </div>

                        <div class="service-card">
                            <img class="service-card__pic" src="box_images/Photographer.png" alt="Rasm bo'lishi kerak">
                            <h5 class="service-card__title">
                                Photography
                            </h5>
                            <p class="service-card__description text">Portrait, Product Photography</p>
                            
                        </div>

                        <div class="service-card">
                            <h5 class="service-card__title">
                                Advertising
                            </h5>
                            <p class="service-card__description text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                            <a href="#" class="service-card__link">ORDER NOW ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- middle frame -->

            <!-- right frame -->
            <div class="right-frame">
                <div class="mode">
                     <a class="link-herf" href="">
                            <div class="right_icon">
                                <img src="icon/Contrast.svg" class="icon_1">
                            </div>
                     </a>
                </div>
                <div class="down_mode">
                    <a class="link-herf" href="">
                            <div class="right_icon_2">
                                <img src="icon/Home.svg" class="icon-2">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="right_icon_2">
                                <img src="icon/Services.svg" style="width: 40px;" class="icon-2">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="right_icon_2">
                                <img src="icon/cv.svg" class="icon-2">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="right_icon_2">
                                <img src="icon/Portfolio.svg" class="icon-2">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="right_icon_2">
                                <img src="icon/Blog.svg" class="icon-2">
                            </div>
                        </a>
                        <a class="link-herf" href="">
                            <div class="right_icon_2">
                                <img src="icon/Contact.svg" class="icon-2">
                            </div>
                        </a>
                </div>
            </div>
            <!-- right frame -->
        </div>
    </div>
</body>

</html>
